#experience-title {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-body {
    width: 81%;
}

#covid-title {
    margin: 4rem;
}

p {
    font-size: 15px;
}

#experiences-title {
    margin: 4rem;
}